*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
  }

body{
    padding: 0;
    margin: 0;
    font-size: 18px;
}

#main-container #mobile-image {
    width: 100%;
    height: auto;
}

#main-container #desktop-image{
    display: none;
}

#main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

#card-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
    margin-top: 10%;
}

#card-container #card-backside-container{
    align-self:flex-end;
    width: 80%;
    position: relative ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card-container #card-backside{
    width: 100%;
}
#card-container #card-frontside-container{
    width: 80%;
    margin-top: -18%;
    position: relative ;
    display: flex;
}
#card-container #card-frontside{
    width: 100%;
}

#frontcard-text{
    position: absolute ;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

#frontcard-text img{
    width: 20%;
}

#frontcard-text p{
    color: white;
    font-size: 1.67rem;
}

#bottom-card-text{
    display: flex;
    justify-content: space-between;
}
#bottom-card-text p{
    font-size: 0.8rem;
}


#backcard-text{
    font-size: 0.9rem;
    color:white;
    position: absolute;
    align-self: flex-end;
    margin-right: 60px;
}


#data-container{
    width: 90%;
    margin-bottom: 18%;
}

#date-container{
    display: flex;
    justify-content: space-between;
}

.date-input{
    width: 48.5%;
}

#CVC-input{
    width: 50%;
}

form button{
    width: 100%;
    height: 50px;
    margin-top: 25px;
    border-radius: 10px;
    border: none;
    background-color: hsl(278, 68%, 11%);
    color: white;
}

form button:hover{
    opacity: 0.8;
    cursor: grab;
}

form input{
    width: 100%;
    height: 50px;
    border-radius: 10px ;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

form input::placeholder{
    font-size: 1.1rem;
    align-items: center;
    opacity: 0.6;
}

form input:hover{
    cursor: grab;
    border : 2px solid  hsl(249, 99%, 64%);
}
/* linear-gradient(to hsl(249, 99%, 64%),hsl(278, 94%, 30%));  */

form #input1.active{
    border : 2px solid  red;
}
form #input2.active{
    border : 2px solid  red;
}
form #input3.active{
    border : 2px solid  red;
}form #input4.active{
    border : 2px solid  red;
}form #input5.active{
    border : 2px solid  red;
}

.error{
    display:none;
}

#name-error{
    color: red;
    margin-top: -15px;
    font-size: 0.8rem;
}

#number-error{
    color: red;
    margin-top: -15px;
    font-size: 0.8rem;
}

#cvc-error{
    color: red;
    margin-top: -15px;
    font-size: 0.8rem;
}

#month-error{
    color: red;
    margin-top: -15px;
    font-size: 0.8rem;
}

#name-error.active{
    display: block;
}
#number-error.active{
    display: block;
}
#cvc-error.active{
    display: block;
}
#month-error.active{
    display: block;
}

form p{
    margin-bottom: 7px;
    font-size: 0.9rem;
}

#success-container{
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#success-container h1{
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: -3px
}

#success-container p {
    opacity: 0.5;;
}

#success-container button{
    width: 90%;
    border: none;
    height: 50px;
    border-radius: 10px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    margin-top: 40px;
    margin-bottom: 40%;
}

#success-container button:hover {
    opacity: 0.8;
    cursor: grab;
}

#data-container.active{
    display: none;
}

#success-container.active{
    display: flex ;
}




@media (min-width:576px){

    #main-container{
        flex-direction: row;
    }

    #main-container #mobile-image {
        display: none;
    }
    
    #main-container #desktop-image{
        width: 30%;
        height: 100vh;    
        display: block;
    }

    #card-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 40%;
        margin-top: 0;
        margin-left: 10%;
    }
    
    #card-container #card-frontside-container{
        width: 80%;
        order: 1;
        margin-top: 0;
        margin-bottom: 15px;
    }
    
    #card-container #card-backside-container{
        width: 80%;
        order: 2;
        margin-top: 15px;
    }

    #data-container{
        margin-right: 10%;
        width: 30%;
        margin-bottom: 0%;
    }
    #frontcard-text img{
        width: 30%;
        margin-bottom: 5px;
    }


    #frontcard-text p{
        color: white;
        font-size: 2.7rem;
    }
    
    #bottom-card-text{
        display: flex;
        justify-content: space-between;
    }
    #bottom-card-text p{
        margin-top: -10px;
        font-size: 1rem;
    }
    #success-container{
        display:none;
        margin-left: 15%;
    }
    #success-container button{
        width: 40%;
        border: none;
        height: 50px;
        border-radius: 10px;
        background-color: hsl(278, 68%, 11%);
        color: white;
        margin-top: 40px;
        margin-bottom: 0%;
    }    

    #data-container.active{
        display: none;
    }
    
    #success-container.active{
        display: flex ;
    }

}

